name: CI

on: [push, pull_request]

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macOS-latest]
        python-version: [3.13, 3.12, 3.11]
        rust: [stable, 1.83]
    steps:
    - name: Install Rust
      uses: dtolnay/rust-toolchain@master
      with:
        toolchain: ${{ matrix.rust }}
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install Python dependencies
      run: |
        python -m pip install --upgrade pip
        pip install setuptools-rust
    - uses: actions/checkout@v4
    - name: Build
      run: python setup.py build
    - name: Install Rust components
      if: matrix.os == 'ubuntu-latest' && matrix.rust == 'nightly'
      run: rustup component add clippy
    - name: Clippy
      if: matrix.os == 'ubuntu-latest' && matrix.rust == 'nightly'
      run: cargo clippy -- -D warnings -W clippy::pedantic

  check:
    runs-on: ubuntu-latest
    steps:
    - name: Install Rust
      uses: dtolnay/rust-toolchain@stable
    - uses: actions/checkout@v4
    - name: Check formatting
      run: cargo fmt -- --check
    - name: Clippy
      run: cargo clippy -- -D warnings -W clippy::pedantic
